<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>regression</td><td>TestNGIncludeExcludeGroups.testMethodThree()[pri:0, instance:TestNGIncludeExcludeGroups@1d8d30f7]<br/></td></tr>
<tr><td>sanity</td><td>TestNGIncludeExcludeGroups.testMethodThree()[pri:0, instance:TestNGIncludeExcludeGroups@1d8d30f7]<br/>TestNGIncludeExcludeGroups.testMethodOne()[pri:0, instance:TestNGIncludeExcludeGroups@1d8d30f7]<br/>TestNGIncludeExcludeGroups.testMethodTwo()[pri:0, instance:TestNGIncludeExcludeGroups@1d8d30f7]<br/></td></tr>
</table>
