<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Multi Group Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b09868">  <td>18/08/18 14:35:05</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGIncludeExcludeGroups.testMethodOne()[pri:0, instance:TestNGIncludeExcludeGroups@1d8d30f7]">testMethodOne</td> 
  <td>main@1372082959</td>   <td></td> </tr>
<tr bgcolor="b09868">  <td>18/08/18 14:35:05</td>   <td>2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGIncludeExcludeGroups.testMethodThree()[pri:0, instance:TestNGIncludeExcludeGroups@1d8d30f7]">testMethodThree</td> 
  <td>main@1372082959</td>   <td></td> </tr>
<tr bgcolor="b09868">  <td>18/08/18 14:35:05</td>   <td>2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGIncludeExcludeGroups.testMethodTwo()[pri:0, instance:TestNGIncludeExcludeGroups@1d8d30f7]">testMethodTwo</td> 
  <td>main@1372082959</td>   <td></td> </tr>
</table>
