<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d47cee">  <td>18/09/08 13:31:03</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Test99GuruLogin.setup()[pri:0, instance:Test99GuruLogin@371a67ec]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@315138752</td>   <td></td> </tr>
<tr bgcolor="d47cee">  <td>18/09/08 13:31:14</td>   <td>11210</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test99GuruLogin.login()[pri:-2, instance:Test99GuruLogin@371a67ec]">login</td> 
  <td>main@315138752</td>   <td></td> </tr>
<tr bgcolor="d47cee">  <td>18/09/08 13:31:14</td>   <td>11267</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test99GuruLogin.test_Home_Page_Appear_Correct()[pri:0, instance:Test99GuruLogin@371a67ec]">test_Home_Page_Appear_Correct</td> 
  <td>main@315138752</td>   <td></td> </tr>
</table>
